<!-- ************************************************************
              START - Bill Comarision Template
        ************************************************************ -->

<script type="text/template" id="billCompareTemp">

<div class="panel PADDTB10PX">
        <div class="row">
          <section class="panel  MRGB60PX">
            <!-- Bill Comparison Title Section    -->
            <div class="row mMGNT">
              <section>
                <div class="row">
                    <div class="fLeft col-md-7 col-sm-7 col-lg-7 col-xs-12 TXTRGT billcompipad billCmpTitle">
                      <h3 class="PADDTB25PXLR15PX billcomparison_title mbillcomparison_title">Bill Comparison</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12  mMRT20 billcompdropdownipad">
                    <%if(currentBillData.currentBillData.accounts[accountIndex].serviceAddress.length > 1){%>
                      <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5 MML20PX iPadPR0"><h6 class="color_a1a1a4 billcomparison_service_address_text mPDGL10">Service Address : </h6> </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 PAD0">
                            <select id="dropdownMultisite" name="dropdownMultisite" class="multisitedropdown color_004990 iPadML-16">
                              <%_.each(currentBillData.currentBillData.accounts[accountIndex].serviceAddress,function(serviceAddress,index){%>
                                <option value="<%=index%>" data-siteid="<%=index%>" ><%=serviceAddress.address + ', ' + serviceAddress.city + ', '  +  serviceAddress.state + ', ' +  serviceAddress.zip  %> </option>
                              <%});%>
                            </select>
                        </div>
                      </div>
                      <div class="row dropdownhide">
                        <div class="col-md-5 col-sm-5"><h6 class="color_a1a1a4 fLeft">Compare to : </h6> </div>
                        <div class="col-md-6 col-sm-6 PAD0">
                            <select id="dropdown" name="dropdown" class="billcomparisondropdown color_004990" >
                              <option value="LastMonth" selected="selected"> Last Month </option>
                              <option value="LastYear">Last Year </option>
                            </select>
                        </div>
                      </div>
                    <%} else {%>
                      <div class="row dropdownhide">
                        <div class="col-md-12"><h6 class="color_a1a1a4 text-center">Compare to : </h6> </div>
                        <div class="col-md-12">
                            <select id="dropdown" name="dropdown" class="billcomparedropdown color_004990 fRight" >
                              <option value="LastMonth" selected="selected"> Last Month </option>
                              <option value="LastYear">Last Year </option>
                            </select>
                        </div>
                      </div>
                      <%}%>
                  </div>
                </div>
              </section>
            </div>
      <div>
        <section class="billcomparisonTabsMonth_Year mbillcomparetab eleNone" >
          <ul class="HGT35PX" id="billcomparisontabMonthandYear">
            <li class="billComparisonLastMonth active" id="billComparisonLastMonth">Last Month</li>
            <li class="billComparisonLastYear" id="billComparisonLastYear">Last Year</li>
          </ul>
        </section>
      </div>
            <section class="text-center">
              <h4 class="PADDB20PX"></h4>
              <!-- Bill Comparison Tab Section START -->
              <section class="billcomparisonTabs dropdownhide" >
                <ul class="HGT35PX" >
                  <li class="currentbill_billcomparison_billamount active" id="currentbill_billcomparison_billamount_Tab">Bill Amount</li>
                  <li class="currentbill_billcomparison_usage" id="currentbill_billcomparison_usage_Tab">Usage</li>
                  <li class="currentbill_billcomparison_billingperiod" id="currentbill_billcomparison_billingperiod_Tab">Billing Period</li>
                  <li class="currentbill_billcomparison_temperature" id="currentbill_billcomparison_temperature_Tab">Temperature</li>
                </ul>
              </section>
              <section>
                <!-- Bill COmparison Bill Amount Section -->
                <div id="currentbill_billcomparison_billamount" class="panel mBillAmountHide">

          <h5 class="billcompareheading">Bill Amount</h5>

          <hr class="mbrd linePos"></hr>
                  <div class="row">
                    <div class="col-md-6 brdRgt WDT50">
                        <h4 class="MRGT20PX text-center color_a1a1a4 font1_4em mbillcompare-Date bill_compare_datehgt" id="lastMonthDate_billing_amount"><%= utils.formatDateLong(billCompareData.lastCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.lastCycle.endDate)%></h4>

                        <div class="row">
                          <div id="" class="MRGT40PX"></div>
                        </div>
                        <hr class="WDTH100 linePos T-21PX MRGT40PX"></hr>
                    </div>
                    <div class="col-md-6 WDT50">
                        <h4 class="MRGT20PX text-center font1_4em mbillcompare-Date bill_compare_datehgt" id="currentMonthDate_billing_amount"><%= utils.formatDateLong(billCompareData.currentCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.currentCycle.endDate)%></h4>
                        <div class="row"><div id="" class="MRGT40PX"></div></div>
                      <hr class="WDTH100 linePos T-21PX"></hr>
                     </div>
                  </div>
                <div class=" "><div id="bill_compare_billamount" class="MRGT40PX"></div><div id="bill_compare_billamount_nodata" class="MRGT40PX"><h4 class='bluColor cbill billcomparison_usage_billingperiod_text'>No Data Available</h4></div>
          </div>
                </div>
                <!-- Bill COmparison Usage Section -->
        <div class="billcompareheading" id="electricUsage"></div>
                <div id="currentbill_billcomparison_usage" class="panel PADDTB10PXLR55PXPXLL55PX graphcon">
                  <div class="row">
                    <%var noGas =   (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=null )%>
       <%  if ( currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=null
                && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=null  ){ %>
              <div class="col-md-6 col-sm-6 usageIpad">
            <% } else {%>
              <div class="col-md-6 col-sm-6 usageGraphMargin usageIpad">
            <% } %>
                     <% if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric){ %>
                      <h4 class="MRGT20PX text-center usagehide"><span class="icon-electric-cb bill_usgae_icon"></span><span class="billcomparison_usage_icon">Electric</span></h4>
                      <div class="row"><div id="" class="MRGT40PX"></div></div>
                      <hr class="billcomparison_usage_barline linePos T-21PX MRGT40PX usagehide"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale1"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale2"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale3"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale4"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale5"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale6"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale7"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale8"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale9"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale10"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale11"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale12"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale13"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale14"></hr>
                      <hr class="usageleft_hr linePos billcomparison_usage_leftscale15"></hr>
                      <div id="usageleft" class="MRGT14PX"></div>
                      <div id="usageleft_nodata" class="MRGT14PX"><h4 class='bluColor cbill billcomparison_usage_billingperiod_text'>No Data Available</h4></div>
                      <div id="" class="MRGT20PX"></div>
                      <hr class="usageleft_hr billcomparison_usage_barline linePos T-21PX MRGT40PX"></hr>
                      <section id="usageleft_axis" >
                        <div class="col-md-6 billcomparison_usage_label_Lmonth TXTCNTR usagemonths WDT50">Last Month</div>
                        <div class="col-md-6 billcomparison_usage_label_Tmonth text_004990 TXTCNTR usagemonths WDT50">This Month</div>
                      </section>
                      <%}%>
                    </div>
          <!-- <hr class="billcomparison_usage_barline linePos  MRGT40PX musagebrdline"></hr> -->
          <div class="billcompareheading" id="gasUsage"></div>


          <!-- <hr class="billcomparison_usage_barline linePos  MRGT40PX musagebrdline "></hr> -->
          <%var noElectric =   (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=null )%>
        <%  if ( currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=null
          && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=null  ){ %>
            <div class="col-md-6 col-sm-6 usageIpad">
          <% } else {%>
            <div class="col-md-6 col-sm-6 usageGraphMargin usageIpad">
          <% } %>
                    <% if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas){ %>
                      <h4 class="MRGT20PX text-center usagehide"><span class="icon-gas-cb bill_usgae_icon MML0PX"></span><span class="billcomparison_usage_icon">Gas</span></h4>
                      <div class="row"><div id="" class="MRGT40PX"></div></div>
                      <hr class="billcomparison_usage_barline linePos T-21PX usagehide"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale1"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale2"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale3"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale4"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale5"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale6"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale7"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale8"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale9"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale10"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale11"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale12"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale13"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale14"></hr>
                      <hr class="usageright_hr linePos billcomparison_usage_rightscale15"></hr>
                      <div id="usageright" class="MRGT14PX "></div>
                      <div id="usageright_nodata" class="MRGT14PX"><h4 class='bluColor cbill billcomparison_usage_billingperiod_text'>No Data Available</h4></div>
                      <div id="" class="MRGT20PX"></div>
                      <hr class="usageright_hr billcomparison_usage_barline linePos T-21PX MRGT40PX"></hr>
                      <section id="usageright_axis">
                        <div class="col-md-6 billcomparison_usage_label_Lmonth TXTCNTR WDT50 usagemonths">Last Month</div>
                        <div class="col-md-6 billcomparison_usage_label_Tmonth text_004990 TXTCNTR WDT50 usagemonths">This Month</div>
                      </section>
                      <%}%>
                    </div>
                  </div>
                </div>

                <!-- Bill Comparison Billing Period Section -->
                <div id="currentbill_billcomparison_billingperiod" class="graphcon">
          <hr class="mbrd linePos"></hr>
          <h5 class="billcompareheading">Billing Period</h5>
          <hr class="mbrd linePos"></hr>
                  <div class="row ">
                    <div class="col-md-6 brdRgt WDT50">

                        <h4 class="MRGT20PX text-center color_a1a1a4 font1_4em mbillcompare-Date bill_compare_datehgt" id="lastmonthdate"><%= utils.formatDateLong(billCompareData.lastCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.lastCycle.endDate)%></h4>

                      <div class="row"><div id="" class="MRGT40PX "></div></div>
                      <hr class="WDTH100 linePos T-21PX MRGT40PX"></hr>
                      <section id="billingperiod_left" class="billingperoid_date">
                        <aside class="grayColor billcomparison_usage_billingperiod_date" id="lastmonthdays">
                          <%= billCompareData.lastCycle.dayCount%>
                        </aside>
                        <span class="billcomparison_usage_billingperiod_text">Days</span>
                      </section>
                      <div id="billingCyclePictographLastMonthTarget">

                      </div>
                    </div>
                    <div class="col-md-6 WDT50">
                        <h4 class="MRGT20PX text-center font1_4em mbillcompare-Date bill_compare_datehgt" id="currentmonthdate"><%= utils.formatDateLong(billCompareData.currentCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.currentCycle.endDate)%></h4>
                      <div class="row"><div id="" class="MRGT40PX"></div></div>
                      <hr class="WDTH100 linePos T-21PX"></hr>
                      <section id="billingperiod_right" class="billingperoid_date">
                        <aside class="bluColor billcomparison_usage_billingperiod_date" id="currentmonthdays">

                          <%= billCompareData.currentCycle.dayCount%>

                        </aside>
                        <span class="bluColor billcomparison_usage_billingperiod_text">Days</span>
                      </section>
                      <div id="billingCyclePictographCurrentMonthTarget" >

                      </div>
                    </div>
                  </div>
                </div>
        <hr class="mbrd linePos"></hr>
                <!-- Bill Comparison Temperature Section -->
    <hr class="mbrd linePos"></hr>
    <h5 class="billcompareheading">Temperature</h5>
    <hr class="mbrd linePos"></hr>
                <div id="currentbill_billcomparison_temperature" class="eleNone mBillAmountHide">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 usageIpad brdRgt">

                        <h4 class="MRGT20PX text-center color_a1a1a4 font1_4em mbillcompare-Date bill_compare_datehgt" id="lastmonthdate_temp"><%= utils.formatDateLong(billCompareData.lastCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.lastCycle.endDate)%></h4>

                      <div class="row"><div id="" class="MRGT40PX "></div></div>
                      <hr class="WDTH100 linePos T-21PX MRGT40PX"></hr>
                      <section id="temperature1_info" class="billingperoid_date">
            <span class="bluColor billcomparison_usage_billingperiod_text color_a1a1a4">Average Temperature</span>
                        <aside class="grayColor billcomparison_usage_billingperiod_date" >
              <span id="lastmonthdays_temp"><%= billCompareData.lastCycle.averageDailyTemperatures.average%></span>&deg;
                        </aside>
            <div class=" row mtext-center">
              <%for(i=0;i<billCompareData.lastCycle.averageDailyTemperatures.averageTemperatures.length;i++) {%>
                <%if(billCompareData.lastCycle.averageDailyTemperatures.averageTemperatures[i].high == true){%>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 fLeft ">
                    <h6 class="">High</h6>
                    <h6 class=" "><span class="tempupicongray temphighicon"></span><span id="hightemp"><%= billCompareData.lastCycle.averageDailyTemperatures.averageTemperatures[i].temp%></span>&deg;</h6>
                  </div>
                <%}%>
                <%if(billCompareData.lastCycle.averageDailyTemperatures.averageTemperatures[i].low == true){%>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 fRight">
                    <h6 class="">Low</h6>
                    <h6 class=""></span><span id="lowtemp"><%= billCompareData.lastCycle.averageDailyTemperatures.averageTemperatures[i].temp%></span>&deg;<span class="tempdownicongray temphighicon"></h6>
                  </div>
                <%}%>
              <%}%>
            </div>
                      </section>
                      <div>
              <div id="temperature1" class=""></div>
              <div id="temperature1_nodata" class=""><h4 class='bluColor cbill billcomparison_usage_billingperiod_text'>No Data Available</h4></div>
            </div>
            <% var startDatelm = utils.formatDateLong(billCompareData.lastCycle.startDate);
              var startDatelms = startDatelm.split(",");
              var endDatelm = utils.formatDateLong(billCompareData.lastCycle.endDate);
              var endDatelms = endDatelm.split(",");
           %>
           <h6 class="MRGT20PX text-center color_a1a1a4 PADDT12PX tempdateHS mMGNT" id="temperature1_daterange"><span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 TXTLFT" id="templaststartdate"><%= startDatelms[0]%> </span><span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 TXTRGT" id="templastenddate"> <%= endDatelms[0]%> </span></h6>
                   </div>
          <hr class="mbrd linePos"></hr>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 usageIpad">
                        <h4 class="MRGT20PX text-center font1_4em mbillcompare-Date bill_compare_datehgt" id="currentmonthdate_temp"><%= utils.formatDateLong(billCompareData.currentCycle.startDate)%> - <%= utils.formatDateLong(billCompareData.currentCycle.endDate)%></h4>
                      <div class="row"><div id="" class="MRGT40PX"></div></div>
                      <hr class="WDTH100 linePos T-21PX"></hr>
                      <section id="temperature2_info" class="billingperoid_date">
            <span class="bluColor billcomparison_usage_billingperiod_text">Average Temperature</span>
                        <aside class="bluColor billcomparison_usage_billingperiod_date" id="currentmonthdays_temp">

                          <%= billCompareData.currentCycle.averageDailyTemperatures.average%>&deg;

                        </aside>
            <div class=" row bluColor mtext-center">
              <%for(i=0;i<billCompareData.currentCycle.averageDailyTemperatures.averageTemperatures.length;i++) {%>
                <%if(billCompareData.currentCycle.averageDailyTemperatures.averageTemperatures[i].high == true){%>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 fLeft">
                    <h6>High</h6>
                    <h6 class=""><span class="tempupiconblue temphighicon"></span><span id="hightemp1"><%= billCompareData.currentCycle.averageDailyTemperatures.averageTemperatures[i].temp%></span>&deg;</h6>
                  </div>
                <%}%>
                <%if(billCompareData.currentCycle.averageDailyTemperatures.averageTemperatures[i].low == true){%>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 fRight">
                    <h6>Low</h6>
                    <h6 class=""><span id="lowtemp1"><%= billCompareData.currentCycle.averageDailyTemperatures.averageTemperatures[i].temp%></span>&deg;<span class="tempdowniconblue temphighicon"></span></h6>
                  </div>
                <%}%>
              <%}%>
            </div>
                      </section>
            <div>
              <div id="temperature2" class=""></div>
              <div id="temperature2_nodata"><h4 class='bluColor cbill billcomparison_usage_billingperiod_text'>No Data Available</h4></div>
            </div>
            <% var startDate = utils.formatDateLong(billCompareData.currentCycle.startDate);
                 var startDates = startDate.split(",");
                 var endDate = utils.formatDateLong(billCompareData.currentCycle.endDate);
                 var endDates = endDate.split(",");
             %>
             <h6 class="MRGT20PX PADDT12PX bluColor tempdateHS mMGNT" id="temperature2_daterange"><span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 TXTLFT" id="tempcurrentstartdate"> <%= startDates[0]%> </span> <span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 TXTRGT" id="tempcurrentenddate"> <%= endDates[0]%> </span></h6>
         </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </section>
        </div>
        </div>
      </script>

          <!-- ************************************************************
              END - Bill Comarision Template
        ************************************************************ -->