      <!-- ************************************************************
          START - Invoice Line Items Template
    ************************************************************ -->
      <script type="text/template" id="invoiceLineItemsTemplate">
        <% if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric){ %>
       <section>
    <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric >= 0){%>
         <article class="summaryInfo toggleHeader">
           <div class="row brdWDTH brdBtm">
             <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span class="tglIcon expand-icon"></span><span class="summaryofcharges_text">Electric:</span></h5></div>
             <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
             <span class="togglePrice bluColor">

                 <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric.toDisplayCurrency() %>

             </span></div>
           </div>
         </article>
    <%}%>
         <article class="summaryInfo toggle eleNone">
           <% for(i=0;i<invLineItmsData.length;i++){
      if(invLineItmsData[i].product=="Electric"){
        for(j=0;j<invLineItmsData[i].serviceAddresses.length;j++){%>
        <%if(invLineItmsData[i].serviceAddresses.length>1){%>
        <div class="mPDL25PX invoiceaddL3MinD invoiceadd">
          <h4 class="mbillcompare-Date col-md-12">
              <%=invLineItmsData[i].serviceAddresses[j].addressLine1.toCamelCase()%>,&nbsp
              <% if(invLineItmsData[i].serviceAddresses[j].addressLine2 != null && invLineItmsData[i].serviceAddresses[j].addressLine2.trim() != '') { %>
                <%=invLineItmsData[i].serviceAddresses[j].addressLine2.toCamelCase()%>,&nbsp
              <% } %>
              <%=invLineItmsData[i].serviceAddresses[j].city.toCamelCase()%>,&nbsp<%=invLineItmsData[i].serviceAddresses[j].state%>,&nbsp<%=invLineItmsData[i].serviceAddresses[j].zipcode%>
          </h4>
        </div>
        <%}%>
        <%for(k=0;k<invLineItmsData[i].serviceAddresses[j].meters.length;k++){%>
           <div class="row mPADDTB20LR10 brdBtm mcenter">
             <div class="col-md-5 col-sm-5 col-xs-12 col-lg-5 text-left mtext-left invoiceL3MinD"><h4 class="mbillcompare-Date">Meter No. <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterNumber%></h4></div>
             <div class="col-md-7 col-sm-7 col-xs-12 col-lg-7 text-right mtext-left"><h5 class="meterreading">Meter Reading: <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterStart%> <%=invLineItmsData[i].serviceAddresses[j].meters[k].readingType%> - <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterStop%> <%=invLineItmsData[i].serviceAddresses[j].meters[k].readingType%></h5></div>
          </div>
          <%for(l=0;l<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails.length;l++){%>
              <div class="row brdBtm mfont11px mPDGTB30LR25">
              <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-left invoiceL3MinD">
                <p><%=invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].lineItemDescription%>
                 <% for(context=0;context<contextHelpItem.Electric.length;context++){
                    if(invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].lineItemDescription===contextHelpItem.Electric[context].key){ %>
                      <span class="infoIcon infoIconalign hnd" data-toggle="popover" data-placement="right" data-content="<%=contextHelpItem.Electric[context].value%>"></span>
                <%}}%>
                </p></div>
             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right PADDT20PX lineH1 mPDT15PX">
             <%for(m=0;m<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails.length;m++){%>
               <p class="PAD0"><%=invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails[m].itemDetails%></p>
              <%}%>
             </div>
             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right PADDT20PX lineH1 mPDT15PX">
               <%for(n=0;n<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails.length;n++){%>
               <p class="PAD0 mMB120px"><%= invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails[n].amount.toDisplayCurrency()%></p>
              <%}%>
             </div>
             </div>
         <%}}}}}%>
         </article>
       </section>
         <%}%>
         <% if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas){ %>
           <section>
      <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas >= 0){%>
             <article class="summaryInfo toggleHeader">
               <div class="row brdBtm">
                 <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span class="tglIcon expand-icon"></span><span class=" summaryofcharges_text">Gas:</span></h5></div>
                 <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
                 <span class="togglePrice bluColor">

                     <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas.toDisplayCurrency() %>

                 </span></div>
               </div>
             </article>
       <%}%>

             <article class="summaryInfo toggle eleNone">
               <% for(i=0;i<invLineItmsData.length;i++){
      if(invLineItmsData[i].product=="Gas"){
        for(j=0;j<invLineItmsData[i].serviceAddresses.length;j++){%>
        <%if(invLineItmsData[i].serviceAddresses.length>1){%>
        <div class="mPDL25PX invoiceaddL3MinD invoiceadd">
          <h4 class="mbillcompare-Date col-md-12">
              <%=invLineItmsData[i].serviceAddresses[j].addressLine1.toCamelCase()%>,&nbsp
              <% if(invLineItmsData[i].serviceAddresses[j].addressLine2 != null && invLineItmsData[i].serviceAddresses[j].addressLine2.trim() != '') { %>
                <%=invLineItmsData[i].serviceAddresses[j].addressLine2.toCamelCase()%>,&nbsp
              <% } %>
              <%=invLineItmsData[i].serviceAddresses[j].city.toCamelCase()%>,&nbsp<%=invLineItmsData[i].serviceAddresses[j].state%>,&nbsp<%=invLineItmsData[i].serviceAddresses[j].zipcode%>
          </h4>
        </div>
        <%}%>
        <%for(k=0;k<invLineItmsData[i].serviceAddresses[j].meters.length;k++){%>
           <div class="row mPADDTB20LR10 brdBtm mcenter">
             <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 text-left mtext-left invoiceL3MinD"><h4 class="mbillcompare-Date">Meter No. <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterNumber%></h4></div>
             <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12 text-right mtext-left"><h5 class="meterreading">Meter Reading: <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterStart%> <%=invLineItmsData[i].serviceAddresses[j].meters[k].readingType%> - <%=invLineItmsData[i].serviceAddresses[j].meters[k].meterStop%> <%=invLineItmsData[i].serviceAddresses[j].meters[k].readingType%></h5></div>
          </div>
          <%for(l=0;l<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails.length;l++){%>
             <div class="row brdBtm mfont11px mPDGTB30LR25">
             <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-left invoiceL3MinD">
               <p><%=invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].lineItemDescription%>
              <% for(context=0;context<contextHelpItem.Gas.length;context++){
                if(invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].lineItemDescription===contextHelpItem.Gas[context].key){%>
               <span class="infoIcon infoIconalign hnd" data-toggle="popover" data-placement="right" data-content="<%=contextHelpItem.Gas[context].value%>"></span>
               <%}}%>
               </p></div>

             <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-right PADDT20PX lineH1 mPDT10PX">
             <%for(m=0;m<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails.length;m++){%>
               <p class="MRG0PXPDNG0PX"><%=invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails[m].itemDetails%></p>
              <%}%>
             </div>
             <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-right PADDT20PX lineH1 mPDT10PX">
               <%for(n=0;n<invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails.length;n++){%>
               <p class="MRG0PXPDNG0PX"><%=invLineItmsData[i].serviceAddresses[j].meters[k].lineItemDetails[l].itemDetails[n].amount.toDisplayCurrency()%></p>
              <%}%>
             </div>
             </div>
         <%}}}}}%>
             </article>
           </section>
         <% } %>

       <section class="">
    <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.other > 0){%>
         <article class="summaryInfo toggleHeader">
           <div class="row brdBtm">
             <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span class="tglIcon expand-icon"></span><span class=" summaryofcharges_text">Services & <span class="mPDGL10">Fees:</span></span></span></h5></div>
             <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
             <span class="togglePrice bluColor">

                 <%= (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.other ?  currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.other.toDisplayCurrency() :"$0.00")%>

             </span></div>
           </div>
         </article>
     <%}%>
      <article class="summaryInfo toggle eleNone">
        <% for(i=0;i<invLineItmsData.length;i++){ 
          if(invLineItmsData[i].product=="Services and Fees"){%>
            <%for(l=0;l<invLineItmsData[i].lineItemDetails.length;l++){%>
              <div class="row brdBtm mfont11px mPDGTB30LR25">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-left invoiceL3MinD">
                  <p><%=invLineItmsData[i].lineItemDetails[l].lineItemDescription%>
                    <%if(contextHelpItem.other){%>
                    <% for(context=0;context<contextHelpItem.other.length;context++){
                      if(invLineItmsData[i].lineItemDetails[l].lineItemDescription===contextHelpItem.other[context].key){%>
                        <span class="infoIcon infoIconalign hnd" data-toggle="popover" data-placement="right" data-content="<%=contextHelpItem.other[context].value%>"></span>
                    <%}}}%>
                  </p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-right PADDT20PX lineH1 mPDT10PX">
                  <%for(m=0;m<invLineItmsData[i].lineItemDetails[l].itemDetails.length;m++){%>
                    <p class="MRG0PXPDNG0PX"><%=invLineItmsData[i].lineItemDetails[l].itemDetails[m].itemDetails%></p>
                  <%}%>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 text-right PADDT20PX lineH1 mPDT10PX">
                  <% for(n=0;n<invLineItmsData[i].lineItemDetails[l].itemDetails.length;n++){%>
                    <% if(invLineItmsData[i].lineItemDetails[l].itemDetails[n].amount){ %>
                    <p class="MRG0PXPDNG0PX"><%=invLineItmsData[i].lineItemDetails[l].itemDetails[n].amount.toDisplayCurrency() %></p>
                  <%}}%>
                </div>
              </div>
        <%}}}%>
      </article>
       </section>
       <!--  enhanced code start here  -->
       <section class="mPDGL10">
 <article class="summaryInfo toggle Header ">
  <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.currentBill){%>
    <div class="row">
      <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span class=" PADDL43 summaryofcharges_text mPDGL0">Current Bill:</span></h5>
      </div>
      <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
        <span class="togglePrice bluColor">
        <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.currentBill.toDisplayCurrency() %>
        </span>
      </div>
    </div>
   <%}%>
   </article>
  
            <article class="summaryInfo">
              <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.remainingCreditsPreviousBill){%>
        <div class="row brdBtm">
          <div class="col-md-8 col-sm-10 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span class="summaryofcharges_text credit_green mPDGL0">Remaining Credits <span class="">from Previous Bill:</span></span></h5></div>
          <div class="col-md-4 col-sm-2 text-right mtogglePrice summaryWDT35 sumamtPDG">
          <span class="togglePrice credit_green_price">
            <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.remainingCreditsPreviousBill.toDisplayCurrency() %>
          </span></div>
        </div>
              <%}%>
            </article>
          <article class="summaryInfo toggle Header ">
            <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.pastDue){%>
              <div class="row brdBtm">
                <div class="alert_bg">
                 <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60 usageIpad"><h5 class="PADDT4PX"><span style="background:none" class="tglIcon expand- icon"></span><span class=" summaryofcharges_text past_due_orange PADDL43 mPDGL0">Past Due:</span></h5>
                 </div>
                 <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
                   <span class="togglePrice past_due_orange">
                      <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.pastDue.toDisplayCurrency() %>
                   </span>
                 </div>
                </div>
              </div>
            <%}%>
          </article>
  <article class="summaryInfo toggle Header ">
  <% if( currentBillData.currentBillData.accounts[accountIndex].accountSummary.totalPayments && parseFloat(currentBillData.currentBillData.accounts[accountIndex].accountSummary.totalPayments) > 0){%>
               <div class="row brdBtm">

     <div class="dte-lawn">



                 <div class="col-md-6 col-sm-6 text-left msummaryofcharges_text summaryWDT60"><h5 class="PADDT4PX"><span style="background:none" class="tglIcon expand- icon"></span><span class=" PADDL43 summaryofcharges_text mPDGL0 greentext">Payments:</span></h5></div>
                 <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
                 <span class="togglePrice greentext">
                    -<%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.totalPayments.toDisplayCurrency() %>
                 </span></div>
               </div>

   <%}%>




            </article>
             <article class="summaryInfo toggle Header " id="totalMonthlyPaymentPlanSummaryDiv" style="display:none;">
            <div class="row" >

       <div class="col-md-7 col-sm-7 text-left  msummaryofcharges_text summaryWDT60" style="word-wrap:break-word;table-layout: fixed;"><h5 class="PADDL10PX mPDGL0"><div class="summaryofcharges_text mPDGL0 text-nowrap fLeft PADDL38PX">Total&nbsp;Monthly&nbsp;</div><div class="summaryofcharges_text mPDGL0 fLeft">Payments:</div></h5></div>
       <div class="col-md-5 col-sm-5 text-right msummaryofcharges_text  summaryWDT35 sumamtPDG"><span class=" bluColor togglePrice  totalMonthlyPaymentPlanSummaryAmount">
         $0.00
         </span>
       </div>

     </div>

      </article>
      <article class="summaryInfo toggle Header ">
        <%if(currentBillData.currentBillData.accounts[accountIndex].accountSummary.totalAmountDue){%>
          <div class="row">
            <div class="col-md-6 col-sm-6 text-left  msummaryofcharges_text summaryWDT60" style="word-wrap:break-word;table-layout: fixed;"><h5 class="PADDL10PX mPDGL0"><div class="summaryofcharges_text mPDGL0 text-nowrap fLeft PADDL38PX">Total&nbsp;Amount&nbsp;</div><div class="summaryofcharges_text mPDGL0 fLeft">Due:</div></h5></div>
            <div class="col-md-6 col-sm-6 text-right mtogglePrice summaryWDT35 sumamtPDG">
              <span class="togglePrice bluColor">
              <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.totalAmountDue.toDisplayCurrency() %>
              </span>
            </div>
          </div>
         <%}%>
      </article>
       </section>
       <section class="PADDB30PX PADDT25PX mMGN0" style="margin-top:40px">
         <div class="row">
           <div class="col-md-12 text-right viewBilling">
             <a href='/api/billPDF/<%=currentBillData.currentBillData.accounts[accountIndex].accountSummary.billId%>/account/<%=currentBillData.currentBillData.accounts[accountIndex].accountNumber%>' class='btn btn-primary ' target="_blank">View Billing Statement</a>
           </div>
         </div>
       </section>
      </script>

      <!-- ************************************************************
          END - Invoice Line Items Template
    ************************************************************ -->