<!-- ************************************************************
              START - Switch Account Model Template
        ************************************************************ -->
<script type="text/template" id="switchAccountModalTemp">
<div class="modal" id="switchAccountModal" aria-hidden="false" aria-labelledby="addPaymentModalLabel" role="dialog" tabinde x="-1" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form-horizontal" id="switchAccountModalSearchForm">
        <div class="modal-header modal-header-width">
          <button id="switchAccountModalCloseButton" class="close" aria-hidden="true" data-dismiss="modal" type="button">
            <span class="icon-close"></span>
          </button>
          <h4 class="modal-title modal-title-width" style="color:#ffffff">Switch Account</h4>
        </div>
        <div class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs">
          <!-- search -->
          <div id="switchAccountSearchModalDivDesktop" class="row margin-left-0-xs margin-right-0-xs padding-right-30-xs padding-left-30-xs">
            <div class="row col-xs-6 margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right">
              <input name="search" class="form-control numeric width-100p-xs" id="switchAccountSearch" type="text" value="<%= search %>" placeholder="Search by account number or service address">
            </div>
            <div class="min-width-200px-xs col-xs-2">
              <a href="javascript:void(0);" id="switchAccountSearchButton" class="btn dte-michigan-bkg width-100p-xs font-size-22-xs padding-top-sm padding-bottom-sm" >
                <%= searchButtonText || "Search" %>
              </a>
            </div>
            <div class="col-xs-2">
              <a href="javascript:void(0);" id="switchAccountResetButton" class="btn dte-whiteMichigan-bkg width-100p-xs font-size-22-xs padding-top-sm padding-bottom-sm" >
                <%= resetButtonText || "Reset" %>
              </a>
            </div>
          </div>

          <div id="switchAccountSearchModalDivMobile" class="row margin-left-0-xs margin-right-0-xs padding-right-30-xs padding-left-30-xs">



            <div class="margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right">
              <input name="search" class="form-control numeric width-100p-xs switchAccountSearch" id="" type="text" value="<%= search %>" placeholder="Search by account number or service address">
            </div>
            <div class="margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right">
              <div class="min-width-200px-xs col-xs-6">
                  <a href="javascript:void(0);" id="" class="switchAccountSearchButton btn dte-michigan-bkg width-100p-xs font-size-22-xs padding-top-sm padding-bottom-sm" >
                    <%= searchButtonText || "Search" %>
                  </a>
              </div>
              <div class="col-xs-6">
                  <a href="javascript:void(0);" id="switchAccountResetButton" class="btn dte-whiteMichigan-bkg width-100p-xs font-size-22-xs padding-top-sm padding-bottom-sm" >
                    <%= resetButtonText || "Reset" %>
                  </a>
              </div>
            </div>
          </div>
          <div id="accountsListing" class="row margin-top-30-xs margin-right-10-xs margin-left-0-xs ">
            <% var count = 0; %>
            <% _.each( accounts, function( account, key ){ %>
              <% if( account.show ){ %>
                <% count++; %>
                <% if( start < count && count <= end ){ %>
                  <div class="row cursor-pointer margin-right-20neg-xs margin-bottom-0-xs margin-left-10neg-xs padding-top-20-xs padding-right-40-xs padding-bottom-20-xs padding-left-40-xs<% if( count == 1 ){ %> border-top-1-History-xs <% } %> border-bottom-1-History-xs selecting" data-account-number="<%= account.accountNum %>" data-accindex ="<%= key%>" >
                    <div class="col-xs-12 margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right" >
                      <span class="text dte-michigan"><%= accountNumberLabel || "Account No." %></span>
                      <%= utils.formatAccountNumber(account.accountNumber) %>
                    </div>
                    <% _.each( account.serviceAddress, function( serviceAddress ){ %>
                      <div class="col-xs-12 margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right">
                        <%= serviceAddress.address %> , <%= serviceAddress.city %>, <%= serviceAddress.state %> <%= serviceAddress.zip %>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              <% } %>
            <% }); %>
            <% if( count == 0 ){ %>
              <div class="row cursor-pointer margin-right-20neg-xs margin-bottom-0-xs margin-left-10neg-xs padding-top-20-xs padding-right-40-xs padding-bottom-20-xs padding-left-40-xs">
                <div class="col-xs-12 margin-left-0-xs margin-right-0-xs no-padding-left no-padding-right">
                  Oops, no result was found. Please search again.
                </div>
              </div>
            <% } %>
          </div>
          <!-- indexes are zero offset display is one offset -->
          <% if( count >= perpage ){ %>
            <div class="row margin-top-20-xs margin-right-0-xs">
              <!-- next -->
              <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-28-1-xs dte-michigan text-align-left">
                <% if( page == ( last - 1 )){ %>
                  &rsaquo;
                <% } else { %>
                  <a href="javascript:void(0);" id="next" class="goToPage" data-page="<%= parseInt( page, 10 ) + 1 %>" >&rsaquo;</a>
                <% } %>
              </div>
              <!-- display the last page -->
              <% if( last - 1 > page ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center">
                  <a href="javascript:void(0);" id="last" class="goToPage" data-page="<%= parseInt( last, 10 ) - 1 %>" ><%= parseInt( last, 10 ) %></a>
                </div>
              <% } %>
              <!-- display the ellipsis to the right -->
              <% if( last - 1 - page > 2 ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center dte-michigan">
                  &hellip;
                </div>
              <% } %>
              <!-- display the next page -->
              <% if( last -1 - page > 1 ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center">
                  <a href="javascript:void(0);" id="nextPage" class="goToPage" data-page="<%= parseInt( page, 10 ) + 1 %>" ><%= parseInt( page, 10 ) + 2 %></a>
                </div>
              <% } %>
              <!-- display the current page -->
              <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center dte-michigan font-underline"><%= parseInt( page, 10 ) + 1 %></div>
              <!-- display the previous page -->
              <% if( page > 1 ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center">
                  <a href="javascript:void(0);" id="previous" class="goToPage" data-page="<%= parseInt( page, 10 ) - 1 %>" ><%= parseInt( page, 10 ) %></a>
                </div>
              <% } %>
              <!-- display the ellipsis to the left -->
              <% if( page > 2 ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center dte-michigan">
                  &hellip;
                </div>
              <% } %>
              <!-- display the first page -->
              <% if( page > 0 ){ %>
                <div class="width-20px-xs padding-left-10-xs float-right-xs font-size-16-32-xs text-align-center">
                  <a href="javascript:void(0);" id="first" class="goToPage" data-page="0" >1</a>
                </div>
              <% } %>
              <!-- Previous -->
              <div class="width-20px-xs float-right-xs text-align-right font-size-28-1-xs dte-michigan text-align-left">
                <% if( page == 0 ){ %>
                  &lsaquo;
                <% } else { %>
                <a href="javascript:void(0);" id="prev" class="goToPage" data-page="<%= parseInt( page, 10 ) - 1 %>">&lsaquo;</a>
                <% } %>
              </div>
            </div>
          <% } %>
        </div>
      </form>
    </div>
  </div>
</div>
</script>

          <!-- ************************************************************
              END - Switch Account Model Template
        ************************************************************ -->