  <!-- ************************************************************
              START - BWB and SPP Template
        ************************************************************ -->
<script type="text/template" id="BWBAndSPPTemp">
            <div class="panel PADDTB10PXLR15PX PADDB5PXMRGN5PX">
              <section class="text-center">
                <h4 class="PADDT10PX bwb-PmtHeading">Payment Plan Summary:</h4>
                <% _.each(paymentPlanData,function(paymentPlan){ %>
                  <h4 class="PADDB20PX bwb-PmtHeading"><%=paymentPlan.attributes.details.planStartDate%>&nbsp - &nbsp <%=paymentPlan.attributes.details.accountBalance.date%></h4>
                  <div class="row">
                    <div class="col-md-12 brdBtm"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 brdRgt WDTIPAD_BWB">
                      <h4 class="MRGT20PX bwb-title"><%=paymentPlan.attributes.displayName%></h4>
                      <div class="row MRGT20PX">
                        <div class="col-md-6 WDT50">
                          <h5 class="bwb_font_1em">Total Monthly Payment</h5>
                        </div>
                        <div class="col-md-6 WDT50">
                          <h5 class="bwb_font_1_4em bwb-ActualAmt"><%=paymentPlan.attributes.details.planAmountDue.amount.toDisplayCurrency()%></h5>
                        </div>
                      </div>
                      <section class="compareTabs MRGT40PX MRGB10PX">
                        <ul class="HGT35PX">
                          <li class="bwb_compare active" id="bwb_compare_Tab">Compare</li>
                          <li class="bwb_thisYear" id="bwb_thisYear_Tab">This Year</li>
                          <li class="bwb_lastYear" id="bwb_lastYear_Tab">Last Year</li>
                        </ul>
                      </section>
                      <section>
                        <section>
                          <div class="fLeft PADDL20PX MRGB10PX">
                            <span class="orange"></span><span class="bwb_font_0_75em bluColor">Usage This Year</span>
                          </div>
                          <div class="fLeft PADDL45">
                            <span class="grey"></span><span class="bwb_font_0_75em bluColor">Usage Last Year</span>
                          </div>
                        </section>
                        <div id="bwb_compare" class=""></div>
                        <div id="bwb_thisYear" class="eleNone"></div>
                        <div id="bwb_lastYear" class="eleNone"></div>
                        <section class="bwb_validate_box" style="text-align:justify;">
                          <% _.each(paymentPlanData, function(paymentPlan, item){ %>
                            <% _.each(paymentPlan.attributes.details.cycles, function(cycles, item){%>
                              <span class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                                <%if(paymentPlan.attributes.details.cycles[item].current.recalculation=="true"){ %>
                                  <div class="orange_box"></div>
                                <% } %>
                                <%if(paymentPlan.attributes.details.cycles[item].current.settlement=="true"){ %>
                                  <div class="red_box"></div>
                                <% } %>
                                <%if(paymentPlan.attributes.details.cycles[item].current.settlement=="false" &&
                                  paymentPlan.attributes.details.cycles[item].current.recalculation=="false"){ %>
                                  <div class="white_box"></div>

                            <%}%>
              </span>
              <%}); %>
                          <%}); %>
                        </section>
                        <section class="MRGT20PX">
                          <div class="fLeft PADDL20PX">
                            <span class="orange"></span><span class="bwb_font_0_75em bluColor">Recalculation</span>
                          </div>
                          <div class="fLeft PADDL45">
                            <span class="red"></span><span class="bwb_font_0_75em bluColor">Settlement</span>
                          </div>
                          <div class="fRight PADDL45">
                            <span class="infoIcon" data-toggle="popover" data-placement="left" data-content="This graph shows your actual energy usage and compares it to the usage from the prior year that was used to calculate your budget amount. If the current year usage is significantly higher than the prior year, your budget amount may increase during the recalculation period. If current year usage is lower than the prior year, your budget amount may decrease."></span>
                          </div>
                        </section>
                      </section>
                    </div>
                    <div class="col-md-6 bwb_text_lalign WDTIPAD_BWB">
                      <h4 class="MRGT20PX bwb-Actual">Actual Balance Information</h4>
                      <div class="row MRGT20PX">
                        <div class="col-md-6 WDT50 mPDL25PX">
                          <h5 class="bwb_font_1em ">Account Balance</h5>
                          <span class="bwb_font_0_7em ">
                            as of&nbsp<%=paymentPlan.attributes.details.accountBalance.date%></span>
                        </div>
                        <div class="col-md-6 ">
                          <h5 class="bwb_font_1_4em WDT50 ipadPDL20PX mPDL35PX"><%=paymentPlan.attributes.details.accountBalance.amount.toDisplayCurrency()%></h5>
                        </div>
                      </div>
                      <div id="columnchart_values" class="MRGT45PX"></div>
                      <hr class="WDTH100 linePos T-21PX"></hr>
                      <div class="row">
                        <div class="col-md-6 fLeft text-left PADDL43 WDT50 "><h5 class="bwb_font_1em">Plan Start Date </h5><span class="bluColor bwb_font_0_7em"><%=paymentPlan.attributes.details.planStartDate%></span></div>
                        <%if(paymentPlan.attributes.details.payments.amount > 0)%>
                                    <div  class="col-md-6 fLeft text-left PADDL30 WDT50 "><h5 class="bwb_font_1em">Last Payment <br/>Received <br/><span><%=paymentPlan.attributes.details.lastPayment.amount.toDisplayCurrency()%></h5> <span class="bluColor bwb_font_0_7em">as of&nbsp<%=paymentPlan.attributes.details.lastPayment.date%> </span></div>
                                    <span class="infoIcon actBalInfoIcon fRight" data-toggle="popover" data-placement="left" data-content="This graph compares your total actual charges for the budget year compared to the total of the payments you made. The difference between the two will equal your actual account balance that you would owe if you unenrolled from the payment plan."></span>
                                  </div>
                    </div>
                  </div>
                <% }); %>
              </section>
      </div>
          </script>

          <!-- ************************************************************
              END - BWB and SPP Template
        ************************************************************ -->