   <!-- ************************************************************
               START - Summary Of Charges
        ************************************************************ -->

            <div class="panel PADDTB10PXLR15PX PADDB5PXMRGN5PX">
                <section class="text-center msummaryofcharges">
                  <h4 class="PADDT10PX">Summary of Charges: </h4>


                      <h4 class="PADDB20PX mPADB10PX"><%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.dateRange %></h4>
                      <div class="row">
                        <div class="col-md-12 brdBtm"></div>
                      </div>

                </section>
                <div class="row">
                  <div class="col-md-6 text-center brdRgt WDTIPAD_pieCHT">
                    <div id="piechart" class="mpiechart">
                      <div id="inforate"></div>
                    </div>
                  </div>
                  <div class="col-md-6 text-center  billingdays_height WDTIPAD_pieCHT">
                    <section class="date">
                      <aside class="brd billingdays_text">
                        <h5 class="billing-Period-Text">Billing Days</h5>
                      </aside>
                      <aside class="brd bluColor">
                          <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.numberOfDays %>
                      </aside>
                    </section>
                    <h5 class="MRGT10PX lineheight0_75 avrg_PDG">Average Daily Charges</h5>
                    <table class="table billing_days MRGT10PX">
                      <% var gasAvailable = (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas);
                          var elecAvailable = (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric);
                       %>

                        <% if (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.gas){ %>
                        <tr>
                          <td class="bluColor charges rmbrd text-left brdBtm avrg_cm1">
                            <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.averageGas.toDisplayCurrency() %>
                          </td>
                          <td class="rmbrd text-right bluColor brdBtm vamiddle lineheight0_75">Gas</td>
                        </tr>
                        <% } %>
                      <% if (currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric!=="" && currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.electric){ %>
                      <tr>
                        <td class="bluColor charges  text-left avrg_cm2">
                            <%= currentBillData.currentBillData.accounts[accountIndex].accountSummary.summaryOfCharges.charges.averageElectric.toDisplayCurrency() %>
                        </td>
                        <td class="text-right bluColor vamiddle lineheight0_75">Electric</td>
                      </tr>
                       <% } %>
                    </table>
                  </div>
                </div>
                <div id="invoiceLineItemsTarget"></div>


        <!-- ************************************************************
              END - Summary Of Charges
        ************************************************************ -->