  <div class="panel PADDTB10PXLR15PX PADDB5PXMRGN5PX"><!-- Testing Push -->

     <!-- ************************************************************
                  START - Account Info
           ************************************************************ -->
              <div class="row PADDTB10PX PADDB18PX">
                  <div class="col-md-4 col-sm-4 mcurrentbill-accPDTB15PX accipad">

                      <h4 class="margin-left-sm font_1_2em mcurrentbill-acc"><%= currentBillData.currentBillData.userProfile.name %></h4>
                      <% if (currentBillData.currentBillData.accounts[accountIndex].serviceAddress.length <= 1) { %>
                        <section class="mcurrentbill-acc"><%= currentBillData.currentBillData.accounts[accountIndex].serviceAddress[0].address.toCamelCase() + ', ' %> <br/>
                        <div><%= currentBillData.currentBillData.accounts[accountIndex].serviceAddress[0].city.toCamelCase() +', ' + currentBillData.currentBillData.accounts[accountIndex].serviceAddress[0].state +', '+ currentBillData.currentBillData.accounts[accountIndex].serviceAddress[0].zip %></div>
                        </section>
                      <% } %>
                  </div>
                  <div class="col-md-8 col-sm-8 mcurrentbill-accnoPDB15PX accnoipad">
                    <h4 class="font_1_2em mcurrentbill-accno">Account No.</h4>

                      <section class="mcurrentbill-accno"><%= utils.formatAccountNumber(currentBillData.currentBillData.accounts[accountIndex].accountNumber) %></section>
                      <%if(status){%> <br>
                      <h6 class="underlineText"><a href="javascript:void(0);" id="switchAccountModalTrigger" title="Switch Account">Switch Account</a></h6>
                      <h6 class="underlineText"><a href="javascript:void(0);" id="viewAllAccounts" title="Current Bill Summary">Current Bill Summary</a></h6>
                      <%}%>

                  </div>
                </div>

        <!-- ************************************************************
              END - Account Info
          ************************************************************ -->
            </div>