        <!-- ************************************************************
          START - Banner Messaages
        ************************************************************ -->
<section class="whiteBg MRGNB5PX mbanner-msg">
              <%_.each(currentBillData.currentBillData.accounts[accountIndex].statusBarMessages,function(statusBarMessage){%>
                      <div class="<%= statusBarMessage.type %> brdBtm">
                      <div class="PADDT5PXB10PX">
                        <%= statusBarMessage.text%>
                      </div>
                    </div>
                    <% });%>
                    <%if(currentBillData.currentBillData.accounts[accountIndex].shutoffStatus && currentBillData.currentBillData.accounts[accountIndex].shutoffStatus.status=="SHUTOFF"){%>
                  <section class="text-center">
                        <h6 class="PADDT10PX" style="font-size: 2em; color: black;">To restore service you need to pay your minimum amount of:</h6>
                        <h2 class="PADDB20PX" style="font-size: 4.7em; color: black; "><%=currentBillData.currentBillData.accounts[accountIndex].shutoffStatus.depositAmount.toDisplayCurrency()%></h2>
                        <h4 style="font-size: 1.2em;color: black;padding-bottom: 35px; margin-bottom: 0px;">Please call 1-800-477-4747 to reactivate service</h4>
                  </section>
                <%}%>
 </section>

      <!-- ************************************************************
                END - Banner Messaages
        ************************************************************ -->